.team-logo {
	display: inline-block;
	background: url("../images/logos.png") no-repeat;
	height: 3vw;
	width: 3vw;
	background-size: 600% 550%;
}

.logo-ArizonaDiamondbacks {
	background-position: 20% 0;
}

.logo-AtlantaBraves {
	background-position: 60% 75%;
}

.logo-BaltimoreOrioles {
	background-position: 0 25%;
}

.logo-BostonRedSox {
	background-position: 20% 25%;
}

.logo-ChicagoCubs {
    background-position: 40% 0;
}

.logo-ChicagoWhiteSox {
    background-position: 40% 25%;
}

.logo-CincinnatiReds {
    background-position: 0 49%;
}

.logo-ClevelandIndians {
    background-position: 20% 49%;
}

.logo-ColoradoRockies {
    background-position: 40% 49%;
}

.logo-DetroitTigers {
    background-position: 60% 0;
}

.logo-HoustonAstros {
    background-position: 60% 25%;
}

.logo-KansasCityRoyals {
    background-position: 60% 49%;
}

.logo-LosAngelesAngels {
    background-position: 0 75%;
}

.logo-LosAngelesDodgers {
    background-position: 20% 75%;
}

.logo-MiamiMarlins {
    background-position: 40% 75%;
}

.logo-MilwaukeeBrewers {
    background-position: 0 0;
}

.logo-MinnesotaTwins {
    background-position: 80% 0;
}

.logo-NewYorkMets {
    background-position: 80% 25%;
}

.logo-NewYorkYankees {
    background-position: 80% 49%;
}

.logo-OaklandAthletics {
    background-position: 80% 75%;
}

.logo-PhiladelphiaPhillies {
    background-position: 0 99%;
}

.logo-PittsburghPirates {
    background-position: 20% 99%;
}

.logo-StLouisCardinals {
    background-position: 100% 0;
}

.logo-SanDiegoPadres {
    background-position: 40% 99%;
}

.logo-SanFranciscoGiants {
    background-position: 80% 99%;
}

.logo-SeattleMariners {
    background-position: 60% 99%;
}

.logo-TampaBayRays {
    background-position: 100% 25%;
}

.logo-TexasRangers {
    background-position: 100% 49%;
}

.logo-TorontoBlueJays {
    background-position: 100% 75%;
}

.logo-WashingtonNationals {
    background-position: 100% 99%;
}