body {
	background: #293134;
	color: #FFF;
	font-family: -apple-system, BlinkMacSystemFont, 
	    "Segoe UI", "Roboto", "Oxygen", 
	    "Ubuntu", "Cantarell", "Fira Sans", 
	    "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
	padding: 0 4vw;
	font-size: 3vw;
}

.row {
	display: flex;
	justify-content: space-around;
}

.home-navigation {
	margin: 0 auto;
	max-width: 450px;
	padding-top: 6rem;
}

a.text-icon {
	color: #FFF;
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 0 auto 2rem;
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 15%;
	width: 9rem;
	height: 9rem;
	font-size: 3rem;
	line-height: 8rem;
}

a.text-icon:hover {
	background-color: #31b0d5;
	border-color: #2aabd2;
}

.league-title {
	text-align: center;
}

.date {
	font-weight: bold;
}

.game-time {
	font-weight: lighter;
	color: #ccc;
}

.team-column {
	flex-basis: 30vw;
	padding-left: 1vw;
	font-weight: bold;
}