<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Meta -->
	<meta name="description" content="Sports.">
	<meta name="author" content="JNguyen">

  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  	{% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <span class="appvars-link">
      {% block appvars %}
    	<a class="text-icon" href="{{ url_for('appvars_page') }}">Vars</a>
      {% endblock %}
    </span>
  </body>
</html>