{% macro display_team_section(team, side) %}
{#
Args:
  team (data_objects.Team)
  side (str) : used for html classes
#}
<div class="team-column team-{{ side|lower() }}">
  <div class="team-info">
    <span class="team-name">{{ team_display_name(team.game.sport, team.game.league, team.name) }}</span>
    <span class="team-logo logo-{{ team.name|replace(' ','')|lower() }}"></span>
  </div>
  <div class="team-details">
    {% if team.moneyline_open %}
    <div class="detail">
	  <span class="label">Open:</span>
	  <span class="value">{{ team.moneyline_open }}</span>
	</div>
	{% endif %}
	{% if team.pitcher %}
	<div class="detail">
	  <span class="label">Pitcher:</span>
	  <span class="value">
	  	{% if team.pitcher.ranking %}
	  	<span class="ranking">({{ team.pitcher.ranking }})</span>
	  	{% endif %}
	    <span class="pitcher-name">{{ team.pitcher.name }}</span> 
	    <span class="npera">{{ team.pitcher.npera }}</span>
	  </span>
	</div>
	{% endif %}
  </div>
</div>
{% endmacro %}

<!-- Recursive macros to display strings/lists/dictionaries -->

{% macro display(value, level=0) %}
{# 
wrap the value in appropriate html tags
Args:
  value (str|list|dict) : value to be displayed
  level (int) : how many dict value is nested in
#}
  {% if value is mapping %}
    {{ display_dict(value, level) }}
  {% elif value is string %}
    {{ display_string(value) }}
  {% elif value is iterable %}
    {{ display_list(value) }}
  {% endif %}
{% endmacro %}

{% macro display_string(value) %}
{# 
wrap string type in appropriate html tags
Args:
  value (str) : value to be displayed
#}
  <span class="string-entry">{{ value }}</span>
{% endmacro %}

{% macro display_list(list) %}
{# 
wrap list type in appropriate html tags
Args:
  list (list) : value to be displayed
#}
  <span class="list-entries">
  {% for entry in list %}
  	  <span class="list-entry">{{ display(value=entry) }}</span>
  {% endfor %}
  </span>
{% endmacro %}

{% macro display_dict_entry(key, value, level=0) %}
{# 
wrap a dict's value in appropriate html tags
Args:
  key (str) : dict key of entry
  value (str|list|dict) : dict value of entry
  level (int) : how many dict value is nested in
#}
  <div class="dict-entry{% if value is none %} no-value hidden{% endif %}">
    <span class="dict-key">
      {{ key }}
    </span>
    <span class="dict-value">
      {{ display(value=value, level=level+1) }}
    </span>
  </div>
{% endmacro %}

{% macro display_dict(dict, level=0) %}
{# 
wrap dict in appropriate html tags
Args:
  dict (dict) : dict to be displayed
  level (int) : how many dict value is nested in
#}
  <div class="dict-entries dict-level-{{ level }}">
  	<input type="hidden" class="dict-level" value="{{ level }}">
    {% for key, value in dict.iteritems() %}
      {{ display_dict_entry(key, value, level) }}
    {% endfor %}
  </div>
{% endmacro %}