body {
	background: #293134;
	color: #FFF;
}

.home-navigation {
	margin: 0 auto;
	max-width: 450px;
	padding-top: 6rem;
}

a.text-icon {
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 0 auto 2rem;
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 15%;
	width: 9rem;
	height: 9rem;
	font-size: 3rem;
	line-height: 8rem;
}