$spacing: 1rem;

@mixin dict-level($level) {
	.dict-level-#{$level} {
		margin-left: 3vw * ($level + 1);
	}
}


.app-var {
	padding: $spacing;
}

.app-value {
	font-size: $responsive-font-size / 2;
}

.dict-entries {
	border-left: 2px dotted #B0BFCB;
}

@for $i from 0 through 5 {
	@include dict-level($i);
}

.dict-entry {
	margin: $spacing 0 $spacing ($spacing / 2);
}

.dict-key {
	display: inline-block;
	min-width: 9vw;
}

.list-entries {
	border: 1px solid white;
}

.list-entry {
	padding: 0 3px;
}