$static-spacing: 1rem;

@mixin dict-level($level) {
	.dict-level-#{$level} {
		margin-top: 3px;
		margin-left: 3vw * ($level + 1);
	}
}


.app-var {
	padding: $static-spacing;
}

.app-value {
	font-size: $responsive-font-size / 2;
}

.dict-entries {
	border-left: 2px dotted #B0BFCB;
	
	& > * {
		margin: $static-spacing 0 $static-spacing ($static-spacing / 2);
	}
}

@for $i from 0 through 5 {
	@include dict-level($i);
}

.controls button {
	background: transparent;
	color: $site-font-color;
	font-size: $responsive-font-size / 2;
	margin: 0 6px;
	
	&:hover {
		cursor: pointer;
		background: $link-hover-bg-color;
	}
}

.dict-key {
	display: inline-block;
	min-width: 9vw;
}

.list-entries {
	display: inline-block;
	border: 1px solid white;
}

.list-entry {
	padding: 0 3px;
	
	&:not(:last-child) {
		border-right: 1px solid white;
	}
}

.string-entry {
	font-weight: light;
	color: $secondary-site-font-color;
}