$static-spacing: 1rem;

@mixin dict-level($level) {
	.dict-level-#{$level} {
		margin-top: 3px;
		margin-left: 3vw * ($level + 1);
	}
}


.app-var {
	padding: $static-spacing;
}

.app-value {
	font-size: $responsive-font-size / 2;
}

.dict-entries {
	border-left: 2px dotted #B0BFCB;
}

@for $i from 0 through 5 {
	@include dict-level($i);
}

.dict-entries > * {
	margin: $static-spacing 0 $static-spacing ($static-spacing / 2);
}

.dict-controls button {
	background: transparent;
	color: $site-font-color;
}

.dict-key {
	display: inline-block;
	min-width: 9vw;
}

.list-entries {
	border: 1px solid white;
}

.list-entry {
	padding: 0 3px;
}